<html>

<head>
	<title>Holiday Maker</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="css/dashboardstyle.css">
</head>

<body>
	<!-- Menu bar -->
	<div class="menu-container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="nav-brand mr-auto" href="#">back to HolidayMaker</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#" onclick="addListingForm()">Add listing</a></li>
					<li class="nav-item active"><a class="nav-link" href="#">Sign
							out</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div id="add-listing-container">
		<!--
		<div id="listing-info">
			<label for="name-input" class="listing-title">Name:</label>
			<input id="name-input" type="text"><br>

			<label for="acc-pool" class="listing-title">Access to Pool?</label>
			<select name="pool" id="acc-pool">
				<option value="true" selected>Yes</option>
				<option value="false">No</option>
			</select><br>

			<label for="acc-entertainment" class="listing-title">Nightly Entertainment?</label>
			<select name="entertainment" id="acc-entertainment">
				<option value="true" selected>Yes</option>
				<option value="false">No</option>
			</select><br>

			<label for="acc-child" class="listing-title">Activities for Children?</label>
			<select name="kid-act" id="acc-child">
				<option value="true" selected>Yes</option>
				<option value="false">No</option>
			</select><br>

			<label for="acc-restaurant" class="listing-title">Restaurant?</label>
				<select name="restaurant" id="acc-restaurant">
					<option value="true" selected>Yes</option>
					<option value="false">No</option>
				</select><br>

				<label for="distance-center" class="listing-title">Distance to Center</label>
				<input id="distance-center" type="number"><br>

				<label for="distance-beach" class="listing-title">Distance to Beach</label>
				<input id="distance-beach" type="number"><br>

				<label for="acc-location" class="listing-title">Location</label>
				<select name="location" id="acc-location">
					<option value="" disabled selected hidden>Select Location</option>
				</select><br>

				<label for="image" class="listing-title">Image</label>
				<input id="image" type="text"><br>

				<label for="acc-desc" class="listing-title">Description</label>
				<textarea id="acc-desc"></textarea><br>

			<input type="submit" value="Create listing" onclick="addListing()">
		</div>-->
	</div>

	<!-- Update booking -->
	<div id="formCover">
		<div id="panel">
			<div class="panel-controller">

				<p id="booking-id">Booking ID</p>
				<p id="price">Price</p>
				<p id="date-from">Date from</p>
				<p id="date-to">Date to</p>
				<p id="rooms">Number of rooms</p>
				<p id="adults">Number of adults</p>
				<p id="kids">Number of kids</p>

				<select name="package" id="package-selector">
				</select>
				<select name="extra-bed" id="bed-selector">
				</select>
			</div>
			<input type="submit" value="Submit" id="update">
		</div>
	</div>
	<div id="outer-container" class="container-fluid">
		<!-- Booking Container -->
		<div class="left-container">
			<p class="title">Bookings</p>
		</div>

		<!-- Listing Container -->
		<div class="right-container">
			<p class="title">Listings</p>
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/dashboardscript.js"></script>

</html>
